@import "../../../variables";

.movie-card {
  width: 300px;
  margin: 10px;
  background: gray;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &--img {
    width: 100%;
  }
}

.movie-card--name {
  padding: 10px;
  font-weight: bold;
}

.movie-card--description {
  padding: 0 10px 10px;
}

.movie-card--button {
  padding: 10px;
}
