@import "../../../../variables";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 70px;
  background: $black;
}

.logo {
  font-size: xx-large;
  font-weight: bold;
}

a {
  color: $red;
  text-decoration: none;
}
