@import "../../../../variables";

.footer {
  background: rgb(39, 39, 39);
  color: aliceblue;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
