@import "../../../variables";

@mixin button {
  background: $red;
  color: $white;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid $red;
}

.button {
  @include button;
}

.selected {
  background: black;
}
